<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sslbot_gazebo)/worlds/sslbot.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node name="ball_state_pub" pkg="sslbot_gazebo" type="ball_state_pub" respawn="true" />
</launch>
